/* *{
    border: 1px solid red;
} */

body{
    width: 500px;
}

button{
    width: 108px;
    height: 48px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 8px;
}


#calcMainBody{
    height: 500px;
}

#screen{
    /* Width: 500px; */
    height: 50px;
    border: 2px solid black;
    border-radius: 8px;
}

#buttonsFirstRow,
#buttonsSecondRow,
#buttonsThirdRow,
#buttonsFourthRow{
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
}