/* *{
    border: 1px solid red;
} */

body{
    width: 500px;
}

button{
    width: 108px;
    height: 48px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 8px;
}


#calcMainBody{
    height: 500px;
}

#screen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 6px;
    height: 50px;
    border: 2px solid black;
    border-radius: 8px;
    padding: auto 5px;
}

#buttonsFirstRow,
#buttonsSecondRow,
#buttonsThirdRow,
#buttonsFourthRow{
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
}

#buttonsFifthRow{
    margin-top: 24px;
    display: flex;
    justify-content: right;
}